<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <title>Reel Cool</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/bootstrap-social/bootstrap-social.css" />
    <link rel="stylesheet" type="text/css" href="/bootstrap-social/node_modules/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/angular-aria/angular-aria.min.js"></script>
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/angular-messages/angular-messages.min.js"></script>
    <script src="/angular-material/angular-material.min.js"></script>
    <script src="/jquery-1.11.3.min.js"></script>
    <script src="/main.js"></script>
</head>

<body ng-app="FullstackGeneratedApp">
    <div id="splash-background">
      <video muted autoplay loop id="bg-video" style="background-color: black;">
          <!-- <source src="polina.webm" type="video/webm"> -->
          <source src="/assets/reelcoolsplash.mp4" type="video/mp4">
      </video>
    </div>
    <div class="row overlay">
        <div class="col-lg-12">
          <div class="splash-text">
            <p class="splash-title">Reel Cool</p>
            <p class="splash-tagline">Make movies in your browser</h3>
            <br>
            <br>
            <md-button class ="md-warn md-raised" href="/auth/google" target="_self">Log in with Google</md-button>
          </div>
        </div>
    </div>
</body>
<script type="text/javascript">
</script>

</html>
