<div class='ng-modal' ng-if='show'>
  <div class='ng-modal-overlay' ng-click='hideModal()'></div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='ng-modal-close' ng-click='hideModal()'><i class="zmdi zmdi-close "></i></div>
    <div class='ng-modal-dialog-content'>
        <div class="col-sm-6">
          <video-player audioenabled="true" width="600" height="350" instructions="instructions" video-player-id="'previewer'" style="display:inline-block"></video-player>
        </div>
    </div>
  </div>
</div>
