<div width="{{width}}px" class="row">
  <div width="{{width}}px" id="{{videoContainerId}}">
  	<div class="emptyVideo" style="width: {{width}}px; height: {{height}}px" ng-hide="instructions.length">SELECT A VIDEO!</div>
    <div ng-repeat="instruction in instructions" ng-show="currentClip===$index">
      <video width="{{width}}px" height="{{height}}px" id="{{getIdForVideo(instruction.id)}}" class='box' style="-webkit-filter: {{instruction.filter}}" preload>
      </video>
    </div>

<!-- <pre>
instructions: {{instructions | json}}
totalEndTime: {{totalEndTime}}
totalCurrentTime: {{totalCurrentTime}}
</pre> -->


    <time-slider ng-show="instructions.length" id="slider" moving-time="totalCurrentTime" start-time="getCurrentStartTime()" end-time="totalEndTime" width="width"></time-slider>
  </div>

<div ng-show="audioenabled">
	<select ng-model="currentAudio" ng-options="audio.videoSource.fileName for audio in audioTracks"></select>
	fadeout: <input type="checkbox" ng-model="fadeOut">
</div>
</div>
