<div id="sourceaudio">
    <md-content class="left-panel sourceAudioContainer">
        <md-content class="md-padding" ng-hide="showAudio()">
            <p>You haven't uploaded any audio yet Import some!</p>
        </md-content>
        <div layout="row" ng-repeat="audio in audioTracks" ng-hide="audio.videoSource.isTheme || audio.id==='original_track'">
            <!--, videoSource.isTheme: true-->
            <list-audio audio="audio"></list-audio>
        </div>
        <input type="file" style="display:none" id="audiofileinput" accept=".mp3" multiple>
    </md-content>
    <md-button class="md-primary md-raised addaudio" ng-click="selectAudioFile()">Add Audio</md-button>
</div>
