<div id="sourcevids">
    <h1 class='desktop md-display-1 section-title'>Uploads</h1>
    <md-content class="left-panel desktop">
        <md-content class="md-padding" ng-hide="videos.length">
            <p>You have no videos uploaded. Upload some!</p>
            <br>
            <br>
            <p>Or, use our sample videos.</p>
            <p><md-button class="desktop md-accent md-raised" ng-click="getSampleVideos()">I want samples</md-button></p>
        </md-content>
        <md-virtual-repeat-container id="vidslist" style="height: 500px">
            <div layout="row" ng-repeat="video in videos">
                <list-video video="video" type="'source'"></list-video>
            </div>
        </md-virtual-repeat-container>
        <input type="file" style="display:none" id="videofileinput" accept="video/*" d- multiple>
    </md-content>
    <md-button class="desktop md-primary md-raised addvideo" ng-click="selectVideoFile()">Add Videos</md-button>
    <button ng-click="selectVideoFile()" class="mobile"><span>Upload Videos</span></button>
</div>
