<div class="lock-size" layout="row" layout-align="center center">
    <md-button class="md-fab" aria-label="Login" ng-click="openDialog($event)" ng-show="!user">
        <i aria-label="login" class="zmdi zmdi-sign-in zmdi-hc-2x" style="vertical-align:middle;horizontal-align:middle"></i>
    </md-button>
    <md-button class="md-fab" aria-label="Logout" ng-click="openLogoutDialog($event)" ng-show="user">
        <i aria-label="login" class="zmdi zmdi-account zmdi-hc-2x" style="vertical-align:middle;horizontal-align:middle"></i>
    </md-button>
</div>
