<div layout="column" ng-cloak>
  <md-content class="md-padding" layout="column">
    <div class="lock-size" layout="row" layout-align="center center">
      <md-fab-speed-dial md-open="isOpen" md-direction="left" class="md-scale" ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
      <!-- Note: To get the animation, must use class="md-scale" instead of ng-class="scale" (see above) due to a bug in ngMaterial which as of this writing has no other workaround that we know of. -->
        <md-fab-trigger>
          <md-button aria-label="share this video" class="md-fab md-warn">
            <i aria-label="share this video" class="zmdi zmdi-share zmdi-hc-2x" style="vertical-align:middle;horizontal-align:middle"></i>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button ng-repeat="network in socialNetworks" aria-label="{{network}}" class="md-fab md-raised md-mini" ng-click="openDialog($event, network)">
            <i aria-label="{{network}}" class="zmdi zmdi-{{ network | lowercase }} zmdi-hc-lg"></i>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>
  </md-content>
</div>