.emptyVideo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px dashed #999999;
}
.playingVideo{
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
// .playgroundvid {
//     border: 5px solid black;
// }