.emptyVideo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    // background-color: #000000;
    background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png');
    /*border: 1px dashed #999999;*/
}
.playingVideo{
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
 // .playgroundvid {
 //    background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png');
 // }