.emptyVideo{
    display: block;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}
.playingVideo{
    display: block;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}