<div class="row">
    <div class="col-sm-12">
        <h1 class='.md-display-2 section-title'>Studio</h1>
            <video-player audioenabled="false" width="100" height="100" instructions="instructions" video-player-id="'editor'"></video-player>
            <div ng-show="instructions.length" class="row">
                <input type="text" ng-model="newStartTime"></input>
                <input type="text" ng-model="newEndTime"></input>
                <md-button class="md-primary md-raised" ng-click="updatedTimeRange()">
                        Update Times
                </md-button>
            </div>
            <div class="filter-buttons">
                <div class="row" >
                    <md-button ng-class="{'md-warn':filter.applied}" ng-repeat="filter in filters" ng-click="toggleFilter(filter)">
                        {{ filter.displayName }}
                    </md-button>
                    <!-- <button ng-class="{'btn-success':filter.applied, 'btn-default': !filter.applied}" class="btn filter-btn" ng-click="toggleFilter(filter)" ng-repeat="filter in filters">{{filter.displayName}}</button> -->
                </div>
                <div class="row" style="width: 600px" ng-repeat="filter in filters" ng-show="filter.applied && filter.max">
                    <h4 class="filter-name">{{filter.displayName}}</h4>
                    <i class="filter-remove fa fa-times" ng-click="toggleFilter(filter)"></i>
                    <md-slider class="filter-slider" aria-label="filter slider" ng-model="filter.val" ng-change="valChange(filter.val)" min="{{filter.min}}" ng-discrete step="0.05" max="{{filter.max}}"></md-slider>
                </div>
                <div ng-show="instructions.length" class="row">
                    <md-button class="md-primary md-raised" ng-click="cutToInstructions()">
                        Cut to Reel
                    </md-button>
                </div>
            </div>
    </div>
</div>
