<div class="row">
  <div class="col-sm-12">
    <video-player width="600" height="350" instructions="instructions" video-player-id="'editor'"></video-player>
    <div ng-show="instructions.length" class="row">
      <input type="text" ng-model="instructions[0].startTime"></input>
      <input type="text" ng-model="instructions[0].endTime"></input>
      <button ng-click="updatedTimeRange()">Update Times</button>
    </div>
    <div class="row">
      <button ng-class="{'btn-success':filter.applied, 'btn-default': !filter.applied}" class="btn" ng-click="toggleFilter(filter)" ng-repeat="filter in filters">{{filter.displayName}}</button>
    </div>
    <div class="row" ng-repeat="filter in filters" ng-show="filter.applied && filter.max">
      <md-slider ng-model="filter.val" min="0" max="100"></md-slider>
      <i class="fa fa-times" ng-click = "clearFilter(filter)"></i>
    </div>
    <br>
    CURRENT INSTRUCTIONS <br>
    {{instructions}}
    <div ng-show="instructions.length" class="row">
      <button ng-click='cutToInstructions()'>Cut to Reel</button>
    </div>
  </div>
</div>
