<div class="row">
  <div class="col-sm-12">
    <video-player audioenabled="false" width="600" height="350" instructions="instructions" video-player-id="'editor'"></video-player>
    <div ng-show="instructions.length" class="row">
      <input type="text" ng-model="newStartTime"></input>
      <input type="text" ng-model="newEndTime"></input>
      <button ng-click="updatedTimeRange()">Update Times</button>
    </div>
    <div class="row">
      <button ng-class="{'btn-success':filter.applied, 'btn-default': !filter.applied}" class="btn" ng-click="toggleFilter(filter) && updateFilters()" ng-repeat="filter in filters">{{filter.displayName}}</button>
    </div>
    <div ng-show="instructions.length" class="row">
      <button ng-click='cutToInstructions()'>Cut to Reel</button>
    </div>
  </div>
</div>