$back: #DDDDDD;
$backURL: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/fresh_snow.png');


* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
  background-image: $backURL;
  background-repeat: true;
  font-family: 'Montserrat';
}

html {
  background-image: $backURL;
  background-repeat: true;
  background-color: $back;
}

#main {
  padding-top: 60px;
  width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-family: 'Montserrat';
  /*font-size: 30px;*/
}
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.brand {
  font-family: "Lobster";
  font-size: 38px;
  margin-left: 0;
  text-transform: none !important;
}

/*.virtualRepeatdemoVerticalUsage #vertical-container {
  height: 292px;
  width: 400px; }
.virtualRepeatdemoVerticalUsage .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px; }
.virtualRepeatdemoVerticalUsage md-content {
  margin: 16px; }
md-virtual-repeat-container {
  border: thin dashed grey; }
.virtualRepeatdemoVerticalUsage .md-virtual-repeat-container .md-virtual-repeat-offsetter {
  padding-left: 16px; }*/

// .left-panel {
//   border: thin dashed grey;
// }

// .right-panel {
//   border: thin dashed grey;
// }

#sourcevids {
  margin-left: 2em;
}

#sourceaudio {
  margin-left: 2em;
}

#editvids {
  margin-right: 2em;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'video/main';
@import 'splash/main';
