$back: #DDDDDD;
$backURL: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png');


* {
  //box-sizing: border-box;
}

html{
  height: 100%;

  body {
    height: 100%;
    min-height: 100%;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

@media (min-width: 1025px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}

.mb-ul-section {
  text-align: center;

  button {
    font-size: 4em;
    background-color: black;
    color: white;
    margin: 0 auto;
    font-family: 'Montserrat';
    border-radius: 15px;
    text-transform: uppercase;
    padding: 15px 35px;
  }

  h1 {
    font-size: 4em;
  }

  div {
    padding: 50px;
  }

}


body {
  // background-image: $backURL;
  // background-repeat: true;
  font-family: 'Montserrat';
}


#main {
  padding-top: 60px;
  width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-family: 'Montserrat';
  /*font-size: 30px;*/
}

.brand {
  font-family: "Lobster";
  font-size: 38px;
  margin-left: 0;
  text-transform: none !important;
}

/*.virtualRepeatdemoVerticalUsage #vertical-container {
  height: 292px;
  width: 400px; }
.virtualRepeatdemoVerticalUsage .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px; }
.virtualRepeatdemoVerticalUsage md-content {
  margin: 16px; }
md-virtual-repeat-container {
  border: thin dashed grey; }
.virtualRepeatdemoVerticalUsage .md-virtual-repeat-container .md-virtual-repeat-offsetter {
  padding-left: 16px; }*/

// .left-panel {
//   border: thin dashed grey;
// }

// .right-panel {
//   border: thin dashed grey;
// }

#sourcevids {
  margin-left: 2em;
}

#sourceaudio {
  margin-left: 2em;
}

#editvids {
  margin-right: 2em;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'video/main';
@import 'splash/main';
@import 'modalwindow/main';
