* {
  box-sizing: border-box;
}

#canvas {
    position: absolute;
    top: 10em;
    left: 10em;
    width: 1120px;
    height: 480px;
}

.hiddenVideo {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -240px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  width: 1200px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'video/main';
